body {
    background-color: var(--clr-primary-bg-main);
    color: var(--clr-neutral-white);
    font-family: var(--ff-primary);
}

h1,
h2,
h3,
nav {
    font-family: var(--ff-accent);
}

h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h1);
    padding-bottom: 1em;
}

h2 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    padding-bottom: 1em;
}

h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}

.btn {
    border: none;
    border-radius: 10rem;
    padding: 0.85rem 2.25rem;
    margin-top: 1.75rem;
    font-size: var(--fs-body-mobile);

    &:hover,
    &:focus {
        background: var(--clr-accent-cyan-light);
    }
}

.btn-primary {
    background: linear-gradient(
        to bottom right,
        var(--clr-accent-cyan) -30%,
        var(--clr-accent-blue) 100%
    );
    color: var(--clr-neutral-white);
    font-weight: var(--fw-bold);
}

input {
    border: none;
    border-radius: 5rem;
    // padding: 0.85rem 2.25rem;
    padding-block: 0.85rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.75rem;
    width: 100%;

    @media (min-width: 1000px) {
        width: 70%;
    }
}

input::placeholder {
    font-size: 0.625rem;
    color: var(--clr-neutral-light-grey);
}
