.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-auto-flow: dense;
}

.subscription {
    grid-row: 1 / 3; 
    grid-column: 1 / -1;
    margin: 0 auto;
    padding: 0;

    .early-access {
        background-color: var(--clr-primary-bg-signup);
        border-radius: 9px;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
        max-width: 54rem;
        padding: 2.5em 1.75em;

        text-align: center;

        p {
            font-size: var(--fs-body-mobile);
        }

        .subscription-form {
            display: flex;
            flex-direction: column;

            .btn, .input {
                width: 100%;
            }

            @media (min-width: 1000px) {
                flex-direction: row;
                justify-content: space-between;
                
                .input {
                    // flex-basis: 80%;
                    // flex-grow: 1;
                    flex-basis:content;
                    // width: 100%;
                    width: 90%;
                }

                .btn {
                    // flex-basis: 20%;
                    // flex: 0;
                    // flex: 2 1 auto;
                    // flex-grow: 0;
                    // flex-shrink: 1;
                    flex-basis: 14rem;
                    // width: 100%;
                }
            }           
        }

        @media (min-width: 1000px) {
            .btn {
                margin-left: 1rem;
            }
        }
    }
}

.background {
    background-color: var(--clr-primary-bg-footer);
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    z-index: -1;
}

.footer {
    background-color: var(--clr-primary-bg-footer);
    grid-row: 3 / -1;
    grid-column: 1 / -1;

    .logo-container {
        width: 6.75rem;
        padding-bottom: 2.5em;
        padding-top: 3em;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .company-info {
            display: flex;
            flex-direction: column;
        }

        .location, .contact-info div {
            display: grid;
            grid-template-columns: 10% 90%;
            grid-template-rows: 1fr;
            gap: 1rem;
            margin-bottom: 1.25rem;

            .icon {
                grid-column: 1 / 2;
                grid-row: 1 / -1;
            }

            p {
                grid-column: 2 / 3;
                grid-row: 1 / -1;
                
            }
        }

        .location {
            align-items: flex-start;  

            .icon {
                margin-top: 0.5em;
            }
        }

        .contact-info div {
            align-items: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.75em;

            & > *:hover {
                font-weight: var(--fw-bold);
            }
        }

        @media (min-width: 1000px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 3rem;

            .company-info {
                max-width: 60%;
                flex-direction: row;
                gap: 5em;

                .location {
                    flex-basis: 50%;
                }
            }
        }
    }

    .social-links {
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;

        &,
        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.75em;
        }

        a {
            font-size: var(--fs-body-mobile);
            color: var(--clr-neutral-white);

            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            border: 1.5px solid var(--clr-neutral-white);

            &:hover,
            &:focus {
                color: var(--clr-accent-cyan);
                border: 1.5px solid var(--clr-accent-cyan);
            }
        }

        @media (min-width: 1000px) {
            margin-top: 0;
            margin-bottom: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}
