.testimonials-wrapper {
    background-color: var(--clr-primary-bg-main);
    padding-block: 8rem;

    

    .quotes-img img {
        width: 32px;
        margin-left: 1.5rem;
        top: 0.5rem;
    }

    .testimonials {

        @media (min-width: 1000px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: start;
            grid-auto-rows: 1fr;
            
        }
    }

    blockquote {
        background-color: var(--clr-primary-bg-testimonials);
        border-radius: 5px;

        margin-inline: 1em;
        padding: 1.75em 1.5em 1.25em 1.25em ;

        & + blockquote {
            margin-top: 1em;

            @media (min-width: 1000px) {
                margin-top: 0;
            }
        }

        p {
            font-size: var(--fs-text-xxs);
        }
    }

    .client-info {
        display: grid;
        grid-template-columns: 1fr minmax(0, 9fr);
        grid-template-rows: 50% 50%;
        margin-top: 1em;
        column-gap: 0.5rem;

        img {
            grid-column: 1 / 2;
            grid-row: 1 / span 3;
            justify-self: start;
            align-self: center;

            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
        h6 {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            align-self: center;

            margin: 0;
            padding: 0;
        }

        small {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            align-self: center;

            font-size: var(--fs-text-xxxs);
        }
    }

    
}

@media (min-width: 1000px) {
    .testimonials-wrapper {
        padding-block: 12rem;
    }
}
