.home {
    
    background-color: var(--clr-primary-bg-signup);
    
    
    
    
}

.intro-wrapper {
    background:  url('../../images/bg-curvy-mobile.svg'), linear-gradient(to bottom, var(--clr-primary-bg-signup) 65%, var(--clr-primary-bg-main) 65%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 55%;
    
    text-align: center;

    h1 {
        // padding-top: 3em;


        span {
            display: block;
            margin-inline: 2rem;
        }
    }

    p {
        background-color: var(--clr-primary-bg-main);
    }

    img {
        padding-block: 2rem;
    }

    .btn-intro {
        display: inline-block;
        text-decoration: none;
        padding: 0.85rem 5rem;
    }
}

.features-wrapper {
    background-color: var(--clr-primary-bg-main);
    padding-block: 7.5rem;

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        text-align: center;

        .img-container img {
            margin: 0 auto;
            width: 3.75rem;
        }

        h3 {
            margin-top: 1em;
        }

        p {
            font-size: var(--fs-text-s);
            padding-top: 0.5em;
        }

        & > * {
            div + div {
            }
        }
    }
}

.stay-productive-wrapper {
    background-color: var(--clr-primary-bg-main);
    .stay-productive {
        .img-container img {
            padding-block: 3rem;
        }

        p {
            font-size: var(--fs-text-stay-productive);
        }

        p + p {
            margin-block: 1em;
        }

        .link {
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            padding-bottom: 0.25em;

            color: var(--clr-accent-cyan);
            border-bottom: 1px solid var(--clr-accent-cyan);

            span {
                margin-right: 0.5em;
            }

            &:hover {
                color: var(--clr-neutral-white);
                border-bottom: 1px solid var(--clr-neutral-white);

                .arrow-icon g g use {
                    fill: var(--clr-neutral-white);
                }
            }
        }
    }
}
